<mat-toolbar class="uxg-toolbar uxg-toolbar-elevated mat-primary">
  <div class="uxg-logo" dense></div>
  <ul class="uxg-breadcrumb uxg-breadcrumb-responsive">
    <li class="uxg-h3">SME ONBOARDING</li>
  </ul>
</mat-toolbar>

<form (ngSubmit)="onSubmit()" [formGroup]="smeForm1">
  <mat-horizontal-stepper linear="true" selectedIndex="0" #stepper>
    <mat-step *ngFor="let questionSections of questionnaireSections;let sectionIndex=index">

      <ng-template matStepLabel>{{questionSections.label}}</ng-template>
      <mat-card>
        <mat-card-content>
          <table style="width: 100%;">
            <tbody >
              <div class="row col-md-12">
                <tr class="form-group col-md-6"  data-always-visible="false" *ngFor="let questionType of questionSections.questions;let questionIndex=index">
                  <td  class="T1" rowspan="1" colspan="1" >
                    <textBox  [questionDatas]="questionType" (formChange)="onTextBoxChange($event,sectionIndex,questionIndex)" *ngIf="questionType.type == 'QuestionTextDto' || 'QuestionNumberDto' "></textBox>
                    <!-- *ngIf="questionType.type == 'QuestionTextDto' || 'QuestionFileListDto' || 'QuestionNumberDto' " -->
                    <multiSelectDropdown [questionDatas]="questionType" (formChange)="onDropdownChange($event,sectionIndex,questionIndex)" *ngIf="questionType.type == 'QuestionMultipleChoiceDto'" ></multiSelectDropdown>
                    <radioButton  [questionDatas]="questionType" (formChange)="onRadioChange($event,sectionIndex,questionIndex)" *ngIf="questionType.type == 'QuestionBoolDto'"></radioButton>
                    <DateField  [questionDatas]="questionType" (formChange)="onDateChange($event,sectionIndex,questionIndex)" *ngIf="questionType.type == 'QuestionDateDto'"></DateField>
                    <fileUpload [questionDatas]="questionType" (formChange)="onFileChange($event,sectionIndex,questionIndex)" *ngIf="questionType.type == 'QuestionFileListDto'"></fileUpload>
                  </td>
                </tr>
            </div>
            </tbody>
          </table>
          </mat-card-content>
      </mat-card>

    </mat-step>


    <!-- <mat-step *ngFor="let questionSections of questionnaireSections;let questionIndex=index">

      <ng-template matStepLabel>{{questionSections.label}}</ng-template>
      <mat-card>
        <mat-card-content>
          <table style="width: 100%;">
            <tbody >
              <div class="row col-md-12">
                <tr class="form-group col-md-6"  data-always-visible="false" *ngFor="let questionType of formSections.controls;let i=index">
                  <td  class="T1" rowspan="1" colspan="1" *ngFor="let data of questions">
                    <div [formGroupName]="i">
                        <div class="form-group" *ngIf="data.type == 'QuestionTextDto'"> 
                          <div class="card-form-container">
                            <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                              <mat-icon color="primary"  dense matPrefix>person_outline</mat-icon>
                              <mat-label>{{data.label}}</mat-label>
                              <input type="text" matInput value="" />
                            </mat-form-field>
                        </div>
                        </div>
                        <div class="form-group" *ngIf="data.type == 'QuestionMultipleChoiceDto'"> 
                        <div class="card-form-container">
                          <div class="multiselect-dropdown-dsgn">
                              <angular2-multiselect  
                              [settings]="dropdownSettings" ></angular2-multiselect>
                          </div>
                      </div>
                        </div>
                    </div>
                  </td>
                </tr>
            </div>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-step> -->


    </mat-horizontal-stepper>
    <div class="submit">
      <button mat-flat-button  color="primary">
        <!-- [disabled]="!smeForm.form.valid" -->
        <mat-icon>arrow_right_alt</mat-icon>
        Submit
      </button>
    </div>
    </form>

