<mat-toolbar class="uxg-toolbar uxg-toolbar-elevated">
    <button mat-icon-button class="uxg-toolbar-menu" (click)="[sidenav.toggle(),this.isOpenHandle(isOpen) ]">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="uxg-logo" dense></div>
    <ul class="uxg-breadcrumb uxg-breadcrumb-responsive">
        <button mat-icon-button color="accent" class="uxg-breadcrumb-back">
            <mat-icon>chevron_left</mat-icon>
          </button>
        <li class="uxg-h6">SME Bidding</li>
        <li class="curs-pointer" (click)="goHome()">Home</li>
    </ul>
    <span class="fill-remaining-space"></span>
    <div class="uxg-toolbar-actions">
        <button mat-icon-button color="neutral">
            <mat-icon>search</mat-icon>
        </button>
            <button mat-icon-button color="neutral">
        <mat-icon>notifications</mat-icon>
        </button>
            <button mat-icon-button color="neutral">
        <mat-icon>help_outline</mat-icon>
        </button>
            <button mat-icon-button color="neutral">
        <mat-icon>apps</mat-icon>
        </button>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menuHero">
        <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button class="uxg-toolbar-icon-menu">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>
<mat-menu #menuHero="matMenu" class="uxg-user-profile s">
    <div class="uxg-menu-header">
        <div class="uxg-avatar-hero-block">
            <div class="uxg-avatar">U</div>
            <h6 class="uxg-h6">User</h6>
            <span class="uxg-caption"></span>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="uxg-menu-footer">
        <button mat-flat-button color="primary" dense (click)="logout()">
            <mat-icon>exit_to_app</mat-icon >
            Logout
        </button>
        <button mat-button color="primary" dense>
            View profile
        </button>
    </div>
</mat-menu>
<mat-sidenav #sidenav mode="over">
    <div class="uxg-nav-header">
        <mat-card class="uxg-card-product" extra-dense>
            <span class="uxg-h5 uxg-card-product-name">PRO</span>
        </mat-card>
    </div>
    <mat-nav-list class="uxg-nav-list">
        <a mat-list-item class="uxg-list-item-selected">
            <mat-icon mat-list-icon>home</mat-icon>
            <p>Home</p>
        </a>
        <a mat-list-item>
            <mat-icon mat-list-icon>dashboard</mat-icon>
            <p matBadge="6" class="uxg-side-badge">Applications</p>
            <mat-icon>chevron_right</mat-icon>
        </a>
        <a mat-list-item>
            <mat-icon mat-list-icon>notifications</mat-icon>
            <p>Notifications</p>
        </a>
        <a mat-list-item>
            <mat-icon mat-list-icon>extension</mat-icon>
            <p>Tools</p>
        </a>
        <a mat-list-item>
            <mat-icon mat-list-icon>settings</mat-icon>
            <p>Settings</p>
        </a>
        <mat-divider></mat-divider>
    </mat-nav-list>
    <mat-nav-list class="uxg-link-list">
        <a mat-list-item>
            <mat-icon mat-list-icon>help</mat-icon>
            <p>Help</p>
        </a>
        <a mat-list-item>
            <mat-icon mat-list-icon>power_settings_new</mat-icon>
            <p>Sign out</p>
        </a>
    </mat-nav-list>
</mat-sidenav>
<div class="app-content {{isOpen}} ">
  <header>
      <br>
      <h5>Financier Offers to be Accepted</h5>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tableCenter">
        <ng-container matColumnDef="refNo">
          <th mat-header-cell *matHeaderCellDef class="table-heading"> ICC Tradecomm Ref </th>
          <td mat-cell *matCellDef="let element"> 
            <mat-chip-list>
                   <mat-chip color="primary" selected (click)="openModal($event,template)">{{element.refNo}} </mat-chip>
               </mat-chip-list>
           </td>
        </ng-container>
      
        <ng-container matColumnDef="invoiceId">
          <th mat-header-cell *matHeaderCellDef class="table-heading"> Invoice ID </th>
          <td mat-cell *matCellDef="let element"> 
            <mat-chip-list>
                   <mat-chip>{{element.invoiceId}} </mat-chip>
               </mat-chip-list>
           </td>
        </ng-container>
      
        <ng-container matColumnDef="invoiceAmt">
          <th mat-header-cell *matHeaderCellDef class="table-heading"> Invoice Amount </th>
          <td mat-cell *matCellDef="let element"> 
             <mat-chip-list>
                    <mat-chip>{{element.invoiceAmt}} </mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>
      
      
        <ng-container matColumnDef="invDate">
          <th mat-header-cell *matHeaderCellDef class="table-heading"> Inv Date  </th>
          <td mat-cell *matCellDef="let element"> 
             <mat-chip-list>
                    <mat-chip>{{element.invDate}} </mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>
      
        <ng-container matColumnDef="invDueDate">
          <th mat-header-cell *matHeaderCellDef class="table-heading"> Inv Due date </th>
          <td mat-cell *matCellDef="let element"> 
             <mat-chip-list>
                    <mat-chip>{{element.invDueDate}} </mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>

        <ng-container matColumnDef="buyer">
            <th mat-header-cell *matHeaderCellDef> Buyer Name </th>
            <td mat-cell *matCellDef="let element"> 
               <mat-chip-list>
                      <mat-chip>{{element.buyer}} </mat-chip>
                  </mat-chip-list>
              </td>
          </ng-container>

          <ng-container matColumnDef="financiercount">
            <th mat-header-cell *matHeaderCellDef> Count of Financiers </th>
            <td mat-cell *matCellDef="let element"> 
               <mat-chip-list>
                      <mat-chip>{{element.financiercount}} </mat-chip>
                  </mat-chip-list>
              </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
  </header>
</div>

<div>
  <!-- <button type="button" class="btn btn-primary" >Open modal</button> -->
 
  <ng-template #template>
     <div class="modal-header">
        <h4 class="modal-title pull-left">Finance Bidding</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
           <span aria-hidden="true">×</span>
        </button>
     </div>
     <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">
                                Invoice Reference 
                            </label>
                            <input type="text" class="form-control" id="exampleInputEmail1" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">
                                Invoice ID
                            </label>
                            <input type="text" class="form-control" id="exampleInputPassword1" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">
                                Buyer Name
                            </label>
                            <input type="text" class="form-control" id="exampleInputPassword1" />
                        </div>
                       
                    </form>
                </div>
                <div class="col-md-4">
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">
                              Invoice Date
                            </label>
                            <input type="date" class="form-control" id="exampleInputEmail1" />
                        </div>
                        <div class="form-group">
                             
                            <label for="exampleInputPassword1">
                               Invoice Due Date
                            </label>
                            <input type="date" class="form-control" id="exampleInputPassword1" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">
                                Amount
                            </label>
                            <input type="text" class="form-control" id="exampleInputPassword1" />
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">
                              Invoice Date
                            </label>
                            <input type="date" class="form-control" id="exampleInputEmail1" />
                        </div>
                        <div class="form-group">
                             
                            <label for="exampleInputPassword1">
                               Invoice Due Date
                            </label>
                            <input type="date" class="form-control" id="exampleInputPassword1" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">
                                Amount
                            </label>
                            <input type="text" class="form-control" id="exampleInputPassword1" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
<table class="table-bordered " id="financBidding">
  <tr>
  <th>S No</th>
  <th>Dese of Goods</th>
  <th>ID No</th>
  <th>Quantity</th>
  <th>Rate</th>
  <th>Amt</th>
  <th>Disc Amt</th>
  <th>Net Amt</th>
  <th>Tax Rate</th>
  <th>Tax Amt</th>
  <th>Total</th>
 </tr>
  <tr>
    <td></td>
    <td>Steel Rod</td>
    <td>54648 </td>
    <td>Quantity</td>
    <td>123</td>
    <td>4303</td>
    <td>4200</td>
    <td>4100</td>
    <td>15 %</td>
    <td>15% Amt</td>
    <td>47000</td>
  </tr>
  <tr>
    <td></td>
    <td>Steel Rod</td>
    <td>54648 </td>
    <td>Quantity</td>
    <td>123</td>
    <td>4303</td>
    <td>4200</td>
    <td>4100</td>
    <td>15 %</td>
    <td>15% Amt</td>
    <td>47000</td>
  </tr>
  <tr>
    <td></td>
    <td>Steel Rod</td>
    <td>54648 </td>
    <td>Quantity</td>
    <td>123</td>
    <td>4303</td>
    <td>4200</td>
    <td>4100</td>
    <td>15 %</td>
    <td>15% Amt</td>
    <td>47000</td>
  </tr>
  <tr>
    <td></td>
    <td>Steel Rod</td>
    <td>54648 </td>
    <td>Quantity</td>
    <td>123</td>
    <td>4303</td>
    <td>4200</td>
    <td>4100</td>
    <td>15 %</td>
    <td>15% Amt</td>
    <td>47000</td>
  </tr>
  <tr>
    <td></td>
    <td>Steel Rod</td>
    <td>54648 </td>
    <td>Quantity</td>
    <td>123</td>
    <td>4303</td>
    <td>4200</td>
    <td>4100</td>
    <td>15 %</td>
    <td>15% Amt</td>
    <td>47000</td>
  </tr>
  <tr>
    <td></td>
    <td>Steel Rod</td>
    <td>54648 </td>
    <td>Quantity</td>
    <td>123</td>
    <td>4303</td>
    <td>4200</td>
    <td>4100</td>
    <td>15 %</td>
    <td>15% Amt</td>
    <td>47000</td>
  </tr>

  </table><br>
<p>Bidding Details</p>
  <table class="table-bordered " id="financBidding">
    <tr>
    <th>BID Ref No</th>
    <th>Financier Name</th>
    <th>Financier Offer AMT</th>
    <th>CCY</th>
    <th>Fx Rate If CCY Diff</th>
    <th>Margin</th>
    <th>Disc Rate</th>
    <th>Disc AMT</th>
    <th>Net AMT Payable After Disc</th>
    <th>Net Amt In SME CCY</th>
    <th>Due Date</th>
    <th>Offer Exp Period</th>
    <th>Accept  / Reject</th>
   </tr>
    <tr>
      <td></td>
      <td>Steel Rod</td>
      <td>54648 </td>
      <td>Quantity</td>
      <td>123</td>
      <td>4303</td>
      <td>4200</td>
      <td>4100</td>
      <td>15 %</td>
      <td>15% Amt</td>
      <td>47000</td>
      <td>47000</td>
      <!-- <td class="ng-tns-c8-3"> -->
        
        <!-- <td>
            <mat-slide-toggle  (click)="this.handleToggle()" class="example-margin" [color]="color" [checked]="checked"></mat-slide-toggle>

        </td> -->
   
        <td class="ng-tns-c8-3">
            <label class="switchStatus">
            <input class="ng-tns-c8-3 ng-untouched ng-pristine ng-valid" name="block" type="checkbox" 
            (change)="handleToggle($event,'status')">
            <span class="sliderStatus slider round">
            <span class="on">REJECT</span>
            <span class="off">ACCEPT</span>
            </span>
            </label>
        </td>
   
   
    <!-- </td> -->
    </tr>
    <tr>
      <td></td>
      <td>Steel Rod</td>
      <td>54648 </td>
      <td>Quantity</td>
      <td>123</td>
      <td>4303</td>
      <td>4200</td>
      <td>4100</td>
      <td>15 %</td>
      <td>15% Amt</td>
      <td>15% Amt</td>
      <td>15% Amt</td>
      <!-- <td>
        <mat-slide-toggle  (click)="this.handleToggle()" class="example-margin" [color]="color" [checked]="ischecked"></mat-slide-toggle>
    </td> -->
    <td class="ng-tns-c8-3">
        <label class="switchStatus">
        <input class="ng-tns-c8-3 ng-untouched ng-pristine ng-valid" name="block" type="checkbox" 
        (change)="handleToggle($event,'status')">
        <span class="sliderStatus slider round">
        <span class="on">REJECT</span>
        <span class="off">ACCEPT</span>
        </span>
        </label>
    </td>
    </tr>
    </table>
     </div>

     <div class="modal-footer">
        <button type="button" class="btn model-btn-outline">Submit</button>
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
     </div>
  </ng-template>
</div>


