<div class="app-content {{isOpen}} ">
    <header>
        <br>
        <h5>Financier For Bidding</h5>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="position: relative;top: 100px;">
          <ng-container matColumnDef="invId">
            <th mat-header-cell *matHeaderCellDef> Invoice Id  </th>
            <td mat-cell *matCellDef="let element"> 
              <mat-chip-list>
                     <mat-chip color="primary" selected (click)="openModal($event,template,element.id)">{{element.invId}} </mat-chip>
                 </mat-chip-list>
             </td>
          </ng-container>

          <ng-container matColumnDef="invAmt">
            <th mat-header-cell *matHeaderCellDef> Invoice Amount  </th>
            <td mat-cell *matCellDef="let element"> 
              <mat-chip-list>
                     <mat-chip >{{element.invAmt}} </mat-chip>
                 </mat-chip-list>
             </td>
          </ng-container>
        
          <ng-container matColumnDef="smeId">
            <th mat-header-cell *matHeaderCellDef> SME Name </th>
            <td mat-cell *matCellDef="let element"> 
              <mat-chip-list>
                     <mat-chip>{{element.smeId}} </mat-chip>
                 </mat-chip-list>
             </td>
          </ng-container>
          
        
          <ng-container matColumnDef="buyerName">
            <th mat-header-cell *matHeaderCellDef> Buyer Name </th>
            <td mat-cell *matCellDef="let element"> 
               <mat-chip-list>
                      <mat-chip>{{element.buyerName}} </mat-chip>
                  </mat-chip-list>
              </td>
          </ng-container>
        
        
          <ng-container matColumnDef="invDate">
            <th mat-header-cell *matHeaderCellDef> Inv Date  </th>
            <td mat-cell *matCellDef="let element"> 
               <mat-chip-list>
                      <mat-chip>{{element.invDate}} </mat-chip>
                  </mat-chip-list>
              </td>
          </ng-container>
        
          <ng-container matColumnDef="invDueDate">
            <th mat-header-cell *matHeaderCellDef> Inv Due date </th>
            <td mat-cell *matCellDef="let element"> 
               <mat-chip-list>
                      <mat-chip>{{element.invDueDate}} </mat-chip>
                  </mat-chip-list>
              </td>
          </ng-container>
  
          <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Buyer Name </th>
              <td mat-cell *matCellDef="let element"> 
                 <mat-chip-list>
                        <mat-chip>{{element.status == "I" ? "Initiated" : 'Authorized'}} </mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>                  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
    </header>
  </div>
  
























  <div>   
    <ng-template #template>
       <div class="modal-header">
          <h4 class="modal-title pull-left">Finance Bidding</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
             <span aria-hidden="true">×</span>
          </button>
       </div>
       <div class="modal-body">

        <table mat-table [dataSource]="dataSourceOne">

            <ng-container matColumnDef="descGoods">
                <th mat-header-cell *matHeaderCellDef scope="column">Description of Goods</th>
                <td mat-cell *matCellDef="let element">{{ element.descGoods }}</td>
            </ng-container>

            <ng-container matColumnDef="idNo">
                <th mat-header-cell *matHeaderCellDef scope="column">ID No</th>
                <td mat-cell *matCellDef="let element">{{ element.idNo }}</td>
            </ng-container>

            <ng-container matColumnDef="dateOfInvoice">
                <th mat-header-cell *matHeaderCellDef scope="column">Date Of Invoice</th>
                <td mat-cell *matCellDef="let element">{{ element.dateOfInvoice }}</td>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef scope="column">Quantity</th>
                <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
            </ng-container>

            <ng-container matColumnDef="rate">
                <th mat-header-cell *matHeaderCellDef scope="column">Rate</th>
                <td mat-cell *matCellDef="let element">{{ element.rate }}</td>
            </ng-container>

            <ng-container matColumnDef="amt">
                <th mat-header-cell *matHeaderCellDef scope="column">Amount</th>
                <td mat-cell *matCellDef="let element">{{ element.amt }}</td>
            </ng-container>

            <ng-container matColumnDef="discAmt">
                <th mat-header-cell *matHeaderCellDef scope="column">Disc Amt</th>
                <td mat-cell *matCellDef="let element">{{ element.discAmt }}</td>
            </ng-container>

            <ng-container matColumnDef="netAmtPay">
                <th mat-header-cell *matHeaderCellDef scope="column">Net Amount</th>
                <td mat-cell *matCellDef="let element">{{ element.netAmtPay }}</td>
            </ng-container>

            <ng-container matColumnDef="taxRate">
                <th mat-header-cell *matHeaderCellDef scope="column">Tax Rate</th>
                <td mat-cell *matCellDef="let element">{{ element.taxRate }}</td>
            </ng-container>

            <ng-container matColumnDef="taxAmount">
                <th mat-header-cell *matHeaderCellDef scope="column">Tax Amount</th>
                <td mat-cell *matCellDef="let element">{{ element.taxAmount }}</td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef scope="column">Total</th>
                <td mat-cell *matCellDef="let element">{{ element.total }}</td>
            </ng-container>
            

            <tr mat-header-row *matHeaderRowDef="displayedColumnsOne" style="background-color:#B4A6EA"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsOne"></tr>
        </table>













           <!-- Table 2 -->
          <div style="overflow-x:auto;">
              <table mat-table [dataSource]="dataSourceTwo">
          
                  <ng-container matColumnDef="invId">
                      <th mat-header-cell *matHeaderCellDef scope="column">Invoice No</th>
                      <td mat-cell *matCellDef="let invoiceDetailsData">{{ invoiceDetailsData.invId }}</td>
                  </ng-container>
          
                  <ng-container matColumnDef="invDate">
                      <th mat-header-cell *matHeaderCellDef scope="column">Invoice Date</th>
                      <td mat-cell *matCellDef="let invoiceDetailsData">{{ invoiceDetailsData.invDate }}</td>
                  </ng-container>
          
                  <ng-container matColumnDef="buyerName">
                      <th mat-header-cell *matHeaderCellDef scope="column">Buyer</th>
                      <td mat-cell *matCellDef="let invoiceDetailsData">{{ invoiceDetailsData.buyerName }}</td>
                  </ng-container>
          
                  <ng-container matColumnDef="invAmt">
                      <th mat-header-cell *matHeaderCellDef scope="column">Invoice Amount</th>
                      <td mat-cell *matCellDef="let invoiceDetailsData">{{ invoiceDetailsData.invAmt }}</td>
                  </ng-container>
          
                  <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef scope="column">Status</th>
                      <td mat-cell *matCellDef="let invoiceDetailsData">{{ invoiceDetailsData.status }}</td>
                  </ng-container>        
          
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsTwo" style="background-color:#B4A6EA"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsTwo"></tr>
              </table>
          </div>
              

        
  
          
       </div>
       <div class="modal-footer">
          <button type="button" class="btn model-btn-outline">Submit</button>
          <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
       </div>
    </ng-template>
  </div>
  
  
  