<!-- <mat-toolbar class="uxg-toolbar uxg-toolbar-elevated">
  <button mat-icon-button class="uxg-toolbar-menu" (click)="[sidenav.toggle(),this.isOpenHandle(isOpen) ]">
      <mat-icon>menu</mat-icon>
  </button>
  <div class="uxg-logo" dense></div>
  <ul class="uxg-breadcrumb uxg-breadcrumb-responsive">
      <button mat-icon-button color="accent" class="uxg-breadcrumb-back">
          <mat-icon>chevron_left</mat-icon>
        </button>
      <li class="uxg-h6">Finacier Bidding</li>
      <li class="curs-pointer" (click)="goHome()">Home</li>
  </ul>
  <span class="fill-remaining-space"></span>
  <div class="uxg-toolbar-actions">
      <button mat-icon-button color="neutral">
          <mat-icon>search</mat-icon>
      </button>
          <button mat-icon-button color="neutral">
      <mat-icon>notifications</mat-icon>
      </button>
          <button mat-icon-button color="neutral">
      <mat-icon>help_outline</mat-icon>
      </button>
          <button mat-icon-button color="neutral">
      <mat-icon>apps</mat-icon>
      </button>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menuHero">
      <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button class="uxg-toolbar-icon-menu">
      <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menuHero="matMenu" class="uxg-user-profile s">
  <div class="uxg-menu-header">
      <div class="uxg-avatar-hero-block">
          <div class="uxg-avatar">U</div>
          <h6 class="uxg-h6">User</h6>
          <span class="uxg-caption"></span>
      </div>
  </div>
  <mat-divider></mat-divider>
  <div class="uxg-menu-footer">
      <button mat-flat-button color="primary" dense (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
      </button>
      <button mat-button color="primary" dense>
          View profile
      </button>
  </div>
</mat-menu>
<mat-sidenav #sidenav mode="over">
  <div class="uxg-nav-header">
      <mat-card class="uxg-card-product" extra-dense>
          <span class="uxg-h5 uxg-card-product-name">PRO</span>
      </mat-card>
  </div>
  <mat-nav-list class="uxg-nav-list">
      <a mat-list-item class="uxg-list-item-selected">
          <mat-icon mat-list-icon>home</mat-icon>
          <p>Home</p>
      </a>
      <a mat-list-item>
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <p matBadge="6" class="uxg-side-badge">Applications</p>
          <mat-icon>chevron_right</mat-icon>
      </a>
      <a mat-list-item>
          <mat-icon mat-list-icon>notifications</mat-icon>
          <p>Notifications</p>
      </a>
      <a mat-list-item>
          <mat-icon mat-list-icon>extension</mat-icon>
          <p>Tools</p>
      </a>
      <a mat-list-item>
          <mat-icon mat-list-icon>settings</mat-icon>
          <p>Settings</p>
      </a>
      <mat-divider></mat-divider>
  </mat-nav-list>
  <mat-nav-list class="uxg-link-list">
      <a mat-list-item>
          <mat-icon mat-list-icon>help</mat-icon>
          <p>Help</p>
      </a>
      <a mat-list-item>
          <mat-icon mat-list-icon>power_settings_new</mat-icon>
          <p>Sign out</p>
      </a>
  </mat-nav-list>
</mat-sidenav> -->



<div class="app-content {{isOpen}}">
  <header>
      <br>

      <!-- <button (click)="openModal($event,template)">click here</button> -->
      <div class="table-section">
        <div class="uxg-h4" style="text-align: center">Bidding by Financiers</div>
        <p (click)="openModal($event,template)"></p>

      

        <table mat-table [dataSource]="dataSource">
  
          <ng-container matColumnDef="billNo">
            <th mat-header-cell *matHeaderCellDef>ICC Tradecomm Ref</th>          
            <td mat-cell *matCellDef="let element"> 
              <mat-chip-list>                
                     <mat-chip color="primary" (click)="openModal($event,template)" selected>{{element.billNo}}</mat-chip>
                 </mat-chip-list>
             </td>
          </ng-container>
  
          <ng-container matColumnDef="invId">
            <th mat-header-cell *matHeaderCellDef scope="column">Invoice ID</th>
            <td mat-cell *matCellDef="let element">
              <mat-chip-list>
                <mat-chip>{{ element.invId }} </mat-chip>
            </mat-chip-list>
              
            </td>
          </ng-container>
  
          <ng-container matColumnDef="invAmt">
            <th mat-header-cell *matHeaderCellDef scope="column">Invoice Amount</th>
            <td mat-cell *matCellDef="let element">
              <mat-chip-list>
                <mat-chip> {{ element.invAmt }} </mat-chip>
            </mat-chip-list>
             </td>
          </ng-container>
  
  
          <ng-container matColumnDef="buyerName">
            <th mat-header-cell *matHeaderCellDef scope="column">Buyer Name</th>
            <td mat-cell *matCellDef="let element">
              <mat-chip-list>
                <mat-chip> {{ element.buyerName }} </mat-chip>
            </mat-chip-list>
              </td>
          </ng-container>
          <!-- <ng-container matColumnDef="SellerRating">
            <th mat-header-cell *matHeaderCellDef scope="column">Seller Rating</th>
            <td mat-cell *matCellDef="let element">
              <mat-chip-list>
                <mat-chip> {{ element.SellerRating }} </mat-chip>
            </mat-chip-list>
              </td>
          </ng-container>
          <ng-container matColumnDef="BuyerRating">
            <th mat-header-cell *matHeaderCellDef scope="column">Buyer Rating</th>
            <td mat-cell *matCellDef="let element">
              <mat-chip-list>
                <mat-chip> {{ element.BuyerRating }} </mat-chip>
            </mat-chip-list>
              </td>
          </ng-container> -->
          <ng-container matColumnDef="invDate">
            <th mat-header-cell *matHeaderCellDef scope="column">Invoice Date</th>
            <td mat-cell *matCellDef="let element">
              <mat-chip-list>
                <mat-chip> {{ element.invDate }} </mat-chip>
            </mat-chip-list>
              </td>
          </ng-container>
          <!-- <ng-container matColumnDef="invAmt">
            <th mat-header-cell *matHeaderCellDef scope="column">Invoice Amount</th>
            <td mat-cell *matCellDef="let element">
              <mat-chip-list>
                <mat-chip>  {{ element.invAmt }} </mat-chip>
            </mat-chip-list>
             </td>
          </ng-container> -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color:#B4A6EA">jega</tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>  
        
    
        
          <!-- <app-invoice-details></app-invoice-details> -->
      <ng-template #template>
        <div class="modal-header">
           <h4 class="modal-title pull-left">Invoice Details</h4>
           <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">×</span>
           </button>
        </div>
        <div class="modal-body">          
           <div class="container-fluid">
               <div class="row">
                    <app-invoice-details style="
                    width: 100%;
                "  ></app-invoice-details>
               </div>            
           </div>
        </div>
        <!-- <div class="modal-footer">
           <button type="button" class="btn model-btn-outline">Authorize</button>
           <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
        </div> -->
     </ng-template>
      </div>
  </header>
  </div>
  
  