
.btnSubmit {
    
    border-radius: 1.5rem;
    margin-right:100px
}

  
  #upleft { 
    width:450px; 
    height: 30000 px; 
    margin-left: 100 px
    
 }
 #upright { 
    width:300px; 
    height:5000px; 
    background-color: #EAEAEA;
    float:left
    
 }
   
 



.custom{
    min-height: 100vh;
}

#leftnav{
    margin-left: -20000000px
}

#left{
    float: left;
    margin-right: 400px;
}
#right{
   
    margin-left: 200px
}
#grid{
    margin-left: 1000 px
}
.mytext {
    width: 300px;
    height: 15 px;
}

/* .logo img{
    width: 120px;
    height: 60px;
} */

.etc-login-form {
    color: #919191;
    padding: 10px 20px;
  }
  .etc-login-form p {
    margin-bottom: 5spx;
    margin-right: 5spx;
  }

  .alignment{
      width: 100%;
  }
  .encrypted{
      width: 100;
  }
  
  