
    <div class="table-section">
        <!-- <div class="uxg-h4" style="text-align: center">BIDDING</div> -->
        <!-- Inovice Details -->
        <mat-accordion>
            <mat-expansion-panel hideToggle>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="true" (opened)="bidpanelOpenState = true" (closed)="bidpanelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-weight:500;color: #a899e4;">
                        Bid Details
                    </mat-panel-title>
                </mat-expansion-panel-header>

        <div class="container-fluid">
            <div class="row">
                <table class="invoice-table" mat-table [dataSource]="displayInvDatas">
    
                    <ng-container matColumnDef="invRefNumber">
                        <th mat-header-cell *matHeaderCellDef scope="column">Invoice Ref No</th>
                        <td mat-cell *matCellDef="let element">{{ element.invRefNumber }}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="invId">
                        <th mat-header-cell *matHeaderCellDef scope="column">Invoice ID</th>
                        <td mat-cell *matCellDef="let element">{{ element.invId }}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="invDate">
                        <th mat-header-cell *matHeaderCellDef scope="column">Invoice Date</th>
                        <td mat-cell *matCellDef="let element">{{ element.invDate }}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="invDueDate">
                        <th mat-header-cell *matHeaderCellDef scope="column">Invoice Due Date</th>
                        <td mat-cell *matCellDef="let element">{{ element.invDueDate }}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="invAmt">
                        <th mat-header-cell *matHeaderCellDef scope="column">Amount</th>
                        <td mat-cell *matCellDef="let element">{{ element.invAmt }}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="buyerName">
                        <th mat-header-cell *matHeaderCellDef scope="column">Buyer</th>
                        <td mat-cell *matCellDef="let element">{{ element.buyerName }}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="sellerName">
                        <th mat-header-cell *matHeaderCellDef scope="column">Seller</th>
                        <td mat-cell *matCellDef="let element">{{ element.sellerName }}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="buyerRating">
                        <th mat-header-cell *matHeaderCellDef scope="column">Buyer Rating</th>
                        <td mat-cell *matCellDef="let element">{{ element.buyerRating }}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="sellerRating">
                        <th mat-header-cell *matHeaderCellDef scope="column">Seller Rating</th>
                        <td mat-cell *matCellDef="let element">{{ element.sellerRating }}</td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedInvoiceFormsColumns" style="background-color:#B4A6EA"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedInvoiceFormsColumns"></tr>
                </table>
            </div>            
        </div>

    </mat-expansion-panel>
</mat-accordion>
        
        <!-- Invoice Details -->
        
    </div>
    
    <!-- <mat-accordion>
        <mat-expansion-panel hideToggle>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true" (opened)="bidpanelOpenState = true" (closed)="bidpanelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title style="font-weight:500;color: #a899e4;">
                    Bid Details
                </mat-panel-title>
            </mat-expansion-panel-header> -->

    <div class="data-section">
        <form [formGroup]="finBidform" (ngSubmit)="onSubmitBidForm()">
            <table>
            <tbody>
              <tr>
                <td rowspan="1" colspan="1">
                  <mat-form-field dense>
                    <mat-label>Financier Offer Amount</mat-label>
                    <input type="text" matInput value="" formControlName="financeOfferAmt"/>
                    <!-- <mat-hint>Please enter Buyer Name</mat-hint> -->
                  </mat-form-field>
                </td>
                <td rowspan="1" colspan="1">
                    <mat-form-field dense>
                        <mat-label>CCY</mat-label>
                        <input type="text" matInput value="" formControlName="ccy"/>
                        <!-- <mat-hint>Please enter Buyer Name</mat-hint> -->
                      </mat-form-field>
                </td>
                
              </tr>
              <tr>
                <td rowspan="1" colspan="1">
                    <mat-form-field dense>
                        <mat-label>Fx Rate</mat-label>
                        <input type="text" matInput value="" formControlName="fxRate"/>
                        <!-- <mat-hint>Please enter Buyer Name</mat-hint> -->
                      </mat-form-field>
                </td>
                <td rowspan="1" colspan="1">
                  <mat-form-field dense>
                    <mat-label>Margin </mat-label>
                    <input type="text" matInput value="" formControlName="margin" />
                    <!-- <mat-hint>Please enter Buyer Address </mat-hint> -->
                  </mat-form-field>
                </td>
               
              
               
              </tr>
              <tr> <td rowspan="1" colspan="1">
                <mat-form-field dense>
                    <mat-label>Net Amt Disc</mat-label>
                    <input type="text" matInput value="" formControlName="netAmtDisc" />
                    <!-- <mat-hint>Please enter Buyer Address </mat-hint> -->
                  </mat-form-field>
            </td>
            <td rowspan="1" colspan="1">
                <mat-form-field dense>
                  <mat-label>Date of Dispatch</mat-label>
                  <input matInput [matDatepicker]="picker1" formControlName="dueDate" />
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </td></tr>
             <tr>
                <td rowspan="1" colspan="1">
                    <mat-form-field dense>
                        <mat-label>Disc Amt </mat-label>
                        <input type="text" matInput value="" formControlName="discAmt" />
                        <!-- <mat-hint>Please enter Buyer Address </mat-hint> -->
                      </mat-form-field>
                </td>
                <td rowspan="1" colspan="1">
                    <mat-form-field dense>
                        <mat-label>Disc Rate </mat-label>
                        <input type="text" matInput value="" formControlName="discRate" />
                        <!-- <mat-hint>Please enter Buyer Address </mat-hint> -->
                      </mat-form-field>
                </td>
              </tr>
              <tr>
              <tr>
                <td rowspan="1" colspan="1">
                    <mat-form-field dense>
                        <mat-label>Offer Exp Period</mat-label>
                        <input type="text" matInput value="" formControlName="offerExpPeriod" />
                      </mat-form-field>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="modal-footer">
            <button type="button" class="btn model-btn-outline" (click)="onSubmitBidForm()">Authorize</button>
         </div>
        </form>

        <mat-accordion>
            <mat-expansion-panel hideToggle>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="true" (opened)="bidpanelOpenState = true" (closed)="bidpanelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-weight:500;color: #a899e4;">
                        Bid Details
                    </mat-panel-title>
                </mat-expansion-panel-header>


        <mat-card>
            <mat-card-content>
                <!-- <div class="uxg-h4" style="text-align: center">Invoice Details</div> -->
                 <!-- Goods Details-->
                <table class="invoice-table" mat-table [dataSource]="dataSourceOne">
                    <ng-container matColumnDef="SNo">
                        <th mat-header-cell *matHeaderCellDef scope="column">Sl.No</th>
                        <td mat-cell *matCellDef="let element">{{ element.SNo }}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="DescGoods">
                        <th mat-header-cell *matHeaderCellDef scope="column">Desc of Goods</th>
                        <td mat-cell *matCellDef="let element">{{ element.DescGoods }}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="IdNo">
                        <th mat-header-cell *matHeaderCellDef scope="column">ID No</th>
                        <td mat-cell *matCellDef="let element">{{ element.IdNo }}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="Qty">
                        <th mat-header-cell *matHeaderCellDef scope="column">Quantity</th>
                        <td mat-cell *matCellDef="let element">{{ element.Qty }}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="Rate">
                        <th mat-header-cell *matHeaderCellDef scope="column">Rate</th>
                        <td mat-cell *matCellDef="let element">{{ element.Rate }}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="Amt">
                        <th mat-header-cell *matHeaderCellDef scope="column">Amt</th>
                        <td mat-cell *matCellDef="let element">{{ element.Amt }}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="DiscAmt">
                        <th mat-header-cell *matHeaderCellDef scope="column">Disc Amt</th>
                        <td mat-cell *matCellDef="let element">{{ element.DiscAmt }}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="NetAmt">
                        <th mat-header-cell *matHeaderCellDef scope="column">Net Amt</th>
                        <td mat-cell *matCellDef="let element">{{ element.NetAmt }}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="TaxRate">
                        <th mat-header-cell *matHeaderCellDef scope="column">Tax Rate</th>
                        <td mat-cell *matCellDef="let element">{{ element.TaxRate }}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="TaxAmt">
                        <th mat-header-cell *matHeaderCellDef scope="column">Tax Amt</th>
                        <td mat-cell *matCellDef="let element">{{ element.TaxAmt }}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="Total">
                        <th mat-header-cell *matHeaderCellDef scope="column">Total</th>
                        <td mat-cell *matCellDef="let element">{{ element.Total }}</td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsOne" style="background-color:#B4A6EA"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsOne"></tr>
                </table>
                  <!-- Goods Details-->
                  
            </mat-card-content>
        </mat-card>

    </mat-expansion-panel>
</mat-accordion>
    </div>

<!-- </mat-expansion-panel>
</mat-accordion> -->
    
    
    
    <!-- <div class="buttons">
        <button mat-flat-button color="primary">Edit</button>
        <button mat-flat-button color="primary">View</button>
        <button mat-flat-button color="primary">Submit</button>
        <button mat-flat-button color="primary">Authorise</button>
    </div> -->
  <!-- </header>
</div> -->
