@import '~@ffdc/uxg-angular-theme/all-theme';

@import "~@ffdc/uxg-angular-theme/lib/core/core";
@import "~@ffdc/uxg-angular-theme/lib/core/theming/all-theme";
@import "~@ffdc/uxg-angular-theme/lib/core/typography/typography";
@import "~@ffdc/uxg-angular-theme/theme-variables";

@import "~@ffdc/uxg-angular-components/global-nav/global-nav.theme";
@import "~@ffdc/uxg-angular-components/skeleton-text/skeleton-text.theme";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
    // position: fixed
  }

// Overrides
.uxg-toolbar {
    z-index: 15;
    position: relative;
}

.account-number {
    font-weight: 400 !important;
    font-size: 20px !important;
    text-align: center !important;
}

// .mat-card {
//     min-height: 120px;
//     padding: 4px !important;
// }
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    // padding-top: 12px;
    // padding-bottom: 12px;
    text-align: left;
    background-color: #7c49cb;
    color: white;
  }
  canvas.chartjs-render-monitor {
   
 
}
table#customers {
    width: 500px;
    position: relative;  
}
// Temp Css

.app-content.inActive
{
margin-left: 300px;
}

.chart.inActive{
    // margin-left: 300px;
}

.tableView.inActive{
    margin-left: 300px;
}
.uxg-nav-header[_ngcontent-jrv-c203] {
    height: 80px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mat-card {
    min-height: 100px !important;
    padding: 0px !important;
}
mat-card {
   width: 20px;
    //  width: calc(100% - -10px);
    height: calc(100% - 2px);
  }
// Temp Css
.uxg-h6, .uxg-typography h6
{
    margin: 0 !important;
}
.trans-table{
    height: 224px;
    overflow: auto;
    width: 500px;
    #customers td, #customers th{
        padding: 5px;
        font-size: 13px;
    }
    .table-bordered{
        margin-bottom: 0;
    }
    .table-bordered th:last-child{
        border: 0;
    }
    .table-bordered th:first-child{
        border: 0;
    }
}
.active{
    .trans-table{
        height: 284px;
    }
}
.chart.inActive{
    .card-body{
        padding: .5rem 1rem;
    }
}
.font-13{
    font-size: 13px;
    margin: 1px;
}
.mat-card-content .uxg-icon-category{
    margin-top: 10px !important;
    margin-left: 6px !important;
}
.mat-card-actions, .mat-card-subtitle, .mat-card-content{
    margin-bottom: 6px !important;
}
.curs-pointer{
    cursor: pointer;
}
.mat-card {
    display: inline !important;
}
table#financBidding {
    position: relative;  
    width: 100%;
}
#financBidding th {
    background-color: #7c49cb;
    color: white;
  }
@media (min-width: 992px){
.modal-lg {
    max-width: 1200px;
}
}