@import '~@ffdc/uxg-angular-theme/all-theme';

@import "~@ffdc/uxg-angular-theme/lib/core/core";
@import "~@ffdc/uxg-angular-theme/lib/core/theming/all-theme";
@import "~@ffdc/uxg-angular-theme/lib/core/typography/typography";
@import "~@ffdc/uxg-angular-theme/theme-variables";

@import "~@ffdc/uxg-angular-components/global-nav/global-nav.theme";
@import "~@ffdc/uxg-angular-components/skeleton-text/skeleton-text.theme";
@import '~ngx-toastr/toastr';
@import '~@angular/cdk/text-field/text-field'; 

@include cdk-text-field();
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
    // position: fixed
  }

// Overrides
.uxg-toolbar {
    z-index: 15;
    position: relative;
}

.account-number {
    font-weight: 400 !important;
    font-size: 14px !important;
    text-align: center !important;
}

// .mat-card {
//     min-height: 120px;
//     padding: 4px !important;
// }
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    // padding-top: 12px;
    // padding-bottom: 12px;
    text-align: left;
    background-color: #7c49cb;
    color: white;
  }
  canvas.chartjs-render-monitor {
   
 
}
table#customers {
    width: 500px;
    position: relative;  
}
// Temp Css

// .app-content.inActive
// {
// margin-left: 300px;
// }
.app-content{
    z-index: 0;
}
.chart.inActive{
    // margin-left: 300px;
}

.tableView.inActive{
    margin-left: 300px;
}
.uxg-nav-header[_ngcontent-jrv-c203] {
    height: 80px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mat-card {
    min-height: 100px !important;
    padding: 0px !important;
}
mat-card {
   width: 20px;
    //  width: calc(100% - -10px);
    height: calc(100% - 2px);
  }
// Temp Css
.uxg-h6, .uxg-typography h6
{
    margin: 0 !important;
}
.trans-table{
    height: 230px;
    // overflow: auto;
    width: 500px;
    #customers td, #customers th{
        padding: 5px;
        font-size: 13px;
    }
    .table-bordered{
        margin-bottom: 0;
    }
    .table-bordered th:last-child{
        border: 0;
    }
    .table-bordered th:first-child{
        border: 0;
    }
}
.active{
    .trans-table{
        height: 230px;
    }
}
.chart.inActive{
    .card-body{
        padding: .5rem 1rem;
    }
}
.font-13{
    font-size: 13px;
    margin: 1px;
}
.mat-card-content .uxg-icon-category{
    margin-top: 10px !important;
    margin-left: 6px !important;
}
.mat-card-actions, .mat-card-subtitle, .mat-card-content{
    margin-bottom: 6px !important;
}
.curs-pointer{
    cursor: pointer;
}
.mat-card {
    display: inline !important;
}
table#financBidding {
    position: relative;  
    width: 100%;
}
.container-fluid {
    font-size: 14px;
}
#financBidding th {
    font-size: 13px;
    background-color: #7c49cb;
    color: white;
    font-weight: inherit;
    padding: 4px;
}
#financBidding td {
    padding: 0px;
    font-size: 14px;
  }
@media (min-width: 992px){
.modal-lg {
    max-width: 1200px;
}
}
.mat-tab-list {
    // background-image: linear-gradient(to bottom right, #d706dafa, #790cdc,#4d00e4) !important;
    }
    .mat-tab-label {
        opacity: .9 !important;    
    }
    // .mat-tab-label-container {
    //     background-image: linear-gradient(to bottom right, #d706dafa, #790cdc,#4d00e4) !important;
    // }
    .mat-ripple.mat-tab-label.mat-focus-indicator{
        border-right: 1px solid #fff!important; 
        border-bottom: 2px solid transparent;
        transition: .3s ease;
        &:hover{
            border-bottom: 2px solid #694ed6;
            background-color: rgba(169,140,233,.3);
        }
    }
    // .mat-ripple.mat-tab-label.mat-focus-indicator.mat-tab-label-active{
    //     border-bottom: 4px solid #fff!important;    
    // }
    .mat-tab-label-active {
        background-image: linear-gradient(to bottom right, #d706dafa, #790cdc, #4d00e4) !important;
        .mat-tab-label-content{
            color: #fff !important;
        }
    }
.mat-card {
    display: inline !important;
    }
    table#financBidding {
    position: relative;
    width: 100%;
    }
    #financBidding th {
    background-color: #7c49cb;
    color: white;
    }
    @media (min-width: 992px){
    .modal-lg {
    max-width: 1200px;
    }
    }
    .modalBtn {
        color: #fff;
        background-color: #7c49cb;
        border-color: #7c49cb;
    }



    /***** SLIDER CSS UNBLOCK BLOCK CSS *****/
.switchStatus {
    margin: 5px;
    position: relative;
    display: inline-block;
    width: 77px;
    height: 29px;
    left: 0px;
    }
    
    input[type=checkbox] {
    display: none;
    }
    
    input:checked+.slider {
    background-color: #f16868;
    }
    
    .slider.round {
    border-radius: 34px;
    }
    
    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #35b539d1;
    transition: 0.4s;
    }
    
    input:checked+.slider:before {
    -webkit-transform: translateX(55px);
    transform: translateX(55px);
    }
    
    .slider.round:before {
    border-radius: 50%;
    margin: 1px;
    }
    
    .sliderStatus:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 19px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    }
    
    .slider:before {
    position: absolute;
    content: "";
    left: 9px;
    bottom: 6px;
    height: 20px;
    width: 19px;
    background-color: white;
    transition: 0.4s;
    }
    
    .sliderStatus:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 19px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    }
    
    input:checked+.slider .on {
    display: block;
    }
    
    .on {
    display: none;
    position: absolute;
    color: white;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 37%;
    font-size: 9px;
    font-family: sans-serif;
    font-weight: 700;
    }
    
    input:checked+.slider .off {
    display: none;
    }
    
    .off {
    color: white;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 60%;
    font-size: 9px;
    font-family: sans-serif;
    font-weight: 700;
    }
    
    /***** SLIDER CSS UNBLOCK BLOCK CSS *****/
   
.model-btn-outline
 {
    color: #7c49cb;
    background-color: transparent; 
    background-image: none;
    border-color: #7c49cb;
}
.tableCenter{
    position: relative;
    top: 100px;
}

.multiselect-dropdown{
    align-self: stretch;
    margin-bottom: 45px;
    margin-left: 96px;
    max-width: 400px;
    border-bottom: 1px solid transparent;
    transition: .3s ease;
    &:hover{
        border-bottom: 1px solid #694ED6 !important;
    }
    .dropdown-btn{
        border: 0!important;
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-bottom: 1px solid #694ED6 !important;
        background-color: rgba(var(--color-primary),0.08);
        padding-top: 15px !important;

    }
}

.sign-select{
    .multiselect-dropdown{
        margin-left: 0;
    }
}
// 15/10/2021 Temp Css
table.mat-table.cdk-table {
    width: 100%;
}
.form-group {
    width: 78%;
    margin-bottom: 1rem;
}
// 15/10/2021 Temp Css

.main-container{
    bottom: 0;
    left: 0;
    overflow-x: auto;
    // padding: 2rem;
    position: absolute;
    right: 0;
    // top: 33px;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    // &.active{
    //     width: calc(100% - 200px);
    //     margin-left: 200px;
    // }
    // &.inActive{
    //     width: 100%;
    //     margin-left: 0;
    // }
}

mat-sidenav.mat-drawer.mat-sidenav.ng-trigger.ng-trigger-transform.mat-drawer-over.mat-drawer-opened{
    .mat-list-base{
        width: 200px;
        box-shadow: 15px 0 5px 0 rgb(0,0,0,0.3);
        z-index: 1000;
        position: fixed;
        display: block;
        overflow-x: hidden;
    }
}

// mat-sidenav.mat-drawer.mat-sidenav.ng-trigger.ng-trigger-transform.mat-drawer-over{
//     .mat-list-base{
//         width: 60px;
//     }
// }
button.mat-focus-indicator.uxg-toolbar-menu.mat-icon-button.mat-button-base{
    position: absolute;
    top: 6px;
    z-index: 21;
    left: -3px;
}
header{
    margin-left: 0;
}
.mat-expansion-panel-body {
  padding: 0px !important
}
/// Matiral CSS
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(https://fonts.gstatic.com/s/materialicons/v81/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  /* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(https://fonts.gstatic.com/s/materialicons/v81/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  //Matirl
  .uxg-logo, .uxg-logo[dense] {
    // background-position: 103px 17px; 
    width: 100px; 
    background-size: 100px 30px;
    background-repeat: no-repeat;
  background-image:  url('./assets/img/icctradelogo.png');
} 
@media only screen and (min-width: 960px){
.uxg-toolbar.mat-toolbar .uxg-logo[dense], .uxg-toolbar.mat-toolbar .uxg-breadcrumb {
    margin-left: 55px;
}
}
.log-logo{
    width: 62%;
    margin-bottom: 26px;
}
.add-good-plusbtn
{
    float: right;
    background: #694DE6;
    color: white;
    padding: 3% 12% 6% 11%;
    margin: 0px;
    border-radius: 4px;
    font-size: 10px;
    cursor: pointer;
}
.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
    height: 48px;
    padding-top: 7px;
    padding-left: 1em;
}
mat-card[_nghost-tcy-c194] mat-card[_ngcontent-tcy-c194]
{
    min-width: 242px;
}
.uxg-body-1.account-name {
    margin-top: 11px;
    font-size: 13px !important;
    font-weight: 400;
    text-align: center;
}
.main-container{
    padding: 0px  !important;
    top:0px !important;
}
.desc-goods{
    width: 22%;
}
.dynamicForm-example-full-width{
  & .form{
    align-self: stretch;
    margin-bottom: $uxg-spacing-2;
    margin-left: $uxg-spacing-3 * 6;
    width: 400px;
  }
  & .dynamic-file-upload{
    background-color: #f3f1fc;
    height: 48px;
    border-bottom: 1px solid #694ed6;
    border-radius: 4px;
}
}
.dyn-Formmultiselect-dropdown-dsgn{
    width: 400px;
    margin: 2px 8px 44px 93px;
    background-color: #f3f1fc;
    border-bottom: 1px solid #694ed6;
    padding-top: 5px;
    border-radius: 3px;
}
.pure-checkbox input[type=checkbox]+label:before{
    border: 1px solid black;
}
.dynamic-radio-btn{
    background: #f3f1fc;
    border-bottom: 1px solid #694ed6;
    width: 400px;
    margin-left: 100px;
    h6{
        color: #616065;
    font: 500 16px/24px Roboto, roboto, "Helvetica Neue", sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding-left: 10px;
    }
    & .mat-radio-group {
        padding-left: 10px;
    }
}
.selected-list .c-list .c-token .c-remove svg {
    fill: #0e0d0d !important;
}
.mat-tab-label .mat-tab-label-content{
    color:#694ed6;
}
.fundreq-btn{
    margin-right: 100px;
}
//iphonex
@media screen and (max-width: 575px) {
    table#customers{
    width:177px;
    }
    .trans-table{
        width: auto;
    }
    .fundreq-btn{
        margin-right: 40px;
    }
    }
//ipad
    @media screen and (min-width: 768px) and (max-width: 991px) {
        header .wave svg {
            height: 224px;
        }
        table#customers{
            width:600px;
            }  
            .fundreq-btn{
                margin-right: 0;
            } 
    }
//ipadpro
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        table#customers{
            width:720px;
            }   
            .fundreq-btn{
                margin-right: 130px;
            }
    }
.dynamicForm-textarea{
    align-self: stretch;
    margin-bottom: 8px;
    margin-left: 96px;
    width: 400px;
    background-color: #f3f1fc;
    border: none;
    border-bottom: 1px solid #694ed6;
    border-radius: 3px;
}
input.custom-autofill {
    @include cdk-text-field-autofill-color(transparent, red);
  }
